.loginPage {
    display: block;
    width: 100%;
    min-height: 100vh;
    background: #f5f9fa;
  }
  body{
    margin: 0;
  }
  .loginPage__div-quickteller{
    width: 100%;
    height: 140px;
  }
  .loginPage__section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    background-image: url("./loan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loginPage__div {
    background: #ffffff;
    margin: 25px;
    padding: 15px 35px;
    width: 450px;
  }
  .loginPage__header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .loginPage__h3-text {
    height: 20px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #009fe4;
    margin: 10px auto;
  }
  .loginPage__p-subtext {
    height: 15px;
    opacity: 0.7;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: #252b33;
    margin: 0 auto;
  }
  .loginPage__form {
    width: 100%;
  }
  .loginPage__div-label {
    margin-bottom: 5px;
    color: #009fe4;
    font-weight: 600;
    font-size: 16px;
  }
  .loginPage__div-inputContainer {
    height: 45px;
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .loginPage__input-name {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-family: serif;
    transition: box-shadow 0.3s, border 0.3s;
  }
  .loginPage__input-name:hover:focus{
    border: 1px solid #009fe4;
  }
  .loginPage__btn {
    position: relative;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    outline: none;
    text-align: center;
    transition: background-color 0.25s;
    margin-bottom: 20px;
  }
  .btn-blue {
    border: 1px solid #009fe4;
    background-color: #009fe4;
    font-size: 16px;
  }
  .btn-blue:hover {
    background-color: #006e9e;
  }
  .loginPage__a-forget {
    color: #003c58;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginPage__a-forget a:active:valid {
    outline: none;
  }
  .loginPage__p-new {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    margin-block: 20px;
  }
  .loginPage-signUp {
    color: #009fe4;
    text-decoration: none;
  }
  @media screen and (min-width: 500px) {
    .login__section-wrapper {
      min-height: calc(100vh - 140px);
    }
  }
  @media screen and (max-width: 400px) {
    .loginPage__div {
      width: 300px;
    }
  }
  